button#dark-mode-toggle(
  type="button"
  class="w-10 h-10 flex justify-center items-center outline-none rounded-full bg-zinc-100 text-zinc-600 dark:bg-zinc-800 dark:text-zinc-300 transition-colors"
  aria-label="Toggle Dark Mode"
)
  i#dark-mode-icon(class="fa-solid fa-moon")
