h1.text-xl.font-bold.tracking-tight.cursor-pointer.flex.items-center.gap-2.transition-colors(class="sm:text-2xl hover:text-indigo-600 dark:text-slate-100 dark:hover:text-indigo-400")
  a.flex.items-center.gap-2(href="[##_blog_link_##]")
    img.w-8.h-8.rounded-lg.object-cover(src="[##_image_##]" alt="[##_blogger_##]")
    span.hidden(class="sm:inline") [##_title_##]
    span.inline(class="sm:hidden") DevLog
