footer(class="mt-16 py-8 border-t border-zinc-200 dark:border-zinc-800")
  div(class="max-w-screen-lg mx-auto px-4 flex justify-between items-center text-sm text-zinc-500")
    div 
      | &copy; [##_title_##]
    div
      | Powered by Tistory
