header#header(class="w-full py-4 max-w-screen-lg mx-auto")
  div(class="flex justify-between items-center")
    include Header/Title
    div(class="flex items-center space-x-4")
      include Header/Navigation
      include Header/DarkModeToggle
